.sideBarLinks a{
    color: #333 !important;
    text-decoration: none !important;
}
.viewer{
    background-color: #e4e4e4;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
  }