

.form-box{
    position: relative;
    background: #fff;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 12px rgba(0,0,0,0.5);
}

.form-value form h2{
    font-size: 2em;
    color: #333;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    
    border-bottom: 2px solid #333;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #333;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #333;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #333;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #333;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #333;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.form-value form button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fa9715;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #333;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
